{% extends 'base.html.twig' %}

{% block title %}Zadania index{% endblock %}

{% block body %}
    <h1>Zadania index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zadanium in zadanias %}
            <tr>
                <td>{{ zadanium.id }}</td>
                <td>{{ zadanium.nazwa }}</td>
                <td>{{ zadanium.opis }}</td>
                <td>
                    <a href="{{ path('zadania_show', {'id': zadanium.id}) }}">show</a>
                    <a href="{{ path('zadania_edit', {'id': zadanium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zadania_new') }}">Create new</a>
{% endblock %}
